/* GENERAL STYLES */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #000;
  color: #fff;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Nunito'
}
h1, h2 {
  font-family: 'Roboto';
  font-weight: 400;
  margin-top: 40px;
}
h1 {
  letter-spacing: .5rem;
}
.container {
  width: 90%;
  height: 100%;
  margin: auto;
}
.row {
  width: 100%;
  display: flex;
  justify-content: center;
}
.stacked-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FIRST CONTAINER STYLES */
#intro h2 span {
  font-size: 1rem;
  opacity: 0;
}
#intro h2 span:nth-child(1) {
  animation: dLetters 400ms forwards 1;
}
#intro h2 span:nth-child(2) {
  animation: dLetters 400ms forwards 200ms 1;
}
#intro h2 span:nth-child(3) {
  animation: dLetters 400ms forwards 400ms 1;
}
#intro h2 span:nth-child(4) {
  animation: dLetters 400ms forwards 600ms 1;
}
#intro h2 span:nth-child(5) {
  animation: dLetters 400ms forwards 800ms 1;
}
#intro h2 span:nth-child(6) {
  animation: dLetters 400ms forwards 1000ms 1;
}
#intro h2 span:nth-child(7) {
  animation: dLetters 400ms forwards 1200ms 1;
}
#intro h2 span:nth-child(8) {
  animation: dLetters 400ms forwards 1400ms 1;
}
#intro h2 span:nth-child(9) {
  animation: dLetters 400ms forwards 1600ms 1;
}
#links {
  margin-top: 25%;
}
#links > a {
  animation: linksFadeIn 1s forwards 2000ms 1;
  background-color: rgba(85, 85, 85, 1);
  border-radius: 3px;
  color: white;
  display: block;
  height: 60px;
  line-height: 60px;
  width: 350px;
  outline: 0;
  opacity: 0;
  text-align: center;
  text-decoration: none;
}
#links > a:nth-child(2) {
  background-color: rgba(85, 85, 85, .6);
  margin-right: 20px;
  margin-left: 20px;
}
#links > a:nth-child(3) {
  background-color: rgba(85, 85, 85, .4);
  margin-right: 20px;
}
#links > a:nth-child(4) {
  background-color: rgba(85, 85, 85, .2);
}

/* PROJECTS CONTAINER STYLES */
#projects .row {
  height: 100%;
  align-items: center;
}
#projects > .row .project-card:first-child {
  margin-right:25px;
}
#projects > .row .project-card:nth-child(2) {
  margin-right: 25px;
  margin-left: 25px;
}
#projects > .row .project-card:last-child {
  margin-left: 25px;
}
.project-card {
  text-align: center;
  height: 400px;
  width: 33%;
  padding: 10px;
  transition: background-color .5s;
}
.project-card:hover {
  background-color: rgba(85, 85, 85, .3)
}
.project-card > .project-card-image {
  width: 100%;
  height: 35%;
  background-size: cover; 
  background-position: center;
}
.project-card #github {
  background-image: url('../img/githubFinder.png');
}
.project-card #start-page {
  background-image: url('../img/start-page.png');
}
.project-card #gtcli {
  background-image: url('../img/gtcli.png');
}
.project-card p {
  margin-bottom: 30px;
}
.project-card a {
  background-color: rgba(85, 85, 85, .3);
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 3px;
}

/* ALL ANIMATIONS */
@keyframes linksFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dLetters {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* MEDIA QUERIES */
@media only screen and (max-width: 800px) {
  #links {
    margin-top: 40%;
  }
  #projects > .row {
    flex-direction: column;
    height: auto;
  } 
  #links > a:nth-child(2) {
    margin-right: 10px;
    margin-left: 10px;
  }
  #links > a:nth-child(3) {
    margin-right: 10px;
  }
  .project-card {
    width: 100%;
    flex-basis: 400px;
    margin: 20px 20px;
  }
  .project-card > .project-card-image {
    height: 50%;
  }
}
@media only screen and (max-width: 600px) {
  #links {
    width: 95%;
    margin-top: 80%;
  }
  #projects > .row {
    flex-direction: column;
    height: auto;
  } 
  .project-card {
    width: 100%;
    flex-basis: 400px;
    margin: 20px 20px;
  }
  .project-card > .project-card-image {
    background-size: cover;
    background-position: center;
  }
}
